@model Modele.TypProduktu

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>zczegóły</h1>

<div>
    <h4>Typ Produktu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powót do listy</a>
</div>
